* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-img {
  size: 80%;
  position: absolute;
}
.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
